.product {
  text-align: center;

  //Imagen producto
  img {
    width: 150px;
    height: 150px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }

  //Precio producto
  p {
    font-size: medium;
  }
}